# This is a basic workflow to help you get started with Actions

name: RunTest

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest] # [macos-latest, windows-latest]
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Set up JDK 23
        uses: actions/setup-java@v3
        with:
          distribution: corretto
          java-version: 23

      - name: Run Tests with Gradle
        run: ./gradlew test

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: TestResult-${{ matrix.os }}
          path: build/reports/tests
